In [1]:
import os
import glob
import pandas as pd
os.chdir("c:/users/hakim/Desktop/citibikefiles/")
import json
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import sqlite3
from sqlalchemy import func
from sqlalchemy import or_
from flask_sqlalchemy import SQLAlchemy

In [2]:
# from pandas.io.json import json_normalize

# class DFConverter:

#     #Converts the input JSON to a DataFrame
#     def convertToDF(self,dfJSON):
#         return(json_normalize(dfJSON))

#     #Converts the input DataFrame to JSON 
#     def convertToJSON(self, df):
#         resultJSON = df.to_json(orient='records')
#         return(resultJSON)

In [3]:
# extension = 'csv'
# all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [4]:
# #combine all files in the list
# combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
# #export to csv
# combined_csv.to_csv( "masterdata.csv", index=False, encoding='utf-8-sig')

In [6]:
# # ##master CSV File
# df1 = pd.read_csv("masterdata.csv").dropna()
# df1.to_csv("masterna.csv")

# df1.head()
# # df6.isnull().sum()
# # df6.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [7]:
#Dependencies for PostgreSQL Connectivity
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
from pprint import pprint
import numpy as np
import scipy.stats as sts
import databaseconfig as cfg

In [8]:
#connect to postgresql server.
engine = create_engine(f"postgresql://{cfg.mysql['user']}:{cfg.mysql['passwd']}@{cfg.mysql['host']}:5432/{cfg.mysql['db']}")
conn = engine.connect()

In [9]:
print(engine.table_names())

['cititest', 'citibikemaster', 'dec2018', 'jan2019', 'feb2019', 'mar2019', 'apr2019', 'may2019', 'jun2019', 'jul2019', 'sep2019', 'oct2019', 'nov2019']